.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 187, 0);
  color: rgb(117, 43, 0);
  font-size: 3rem;
  height: 25vh;
}
