.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50%;
  height: 5vh;
  width: 100%;
  background-color: rgb(255, 187, 0);
  color: rgb(117, 43, 0);
  font-size: 3rem;

}


