.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5vh;
  width: 100%;
  background-color: rgb(255, 187, 0);
  color: #fff;
  font-size: 3rem;

}


