.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
  height: 60vh;
  background-color: rgb(255, 187, 0);
  gap: 2rem;
  border-radius: 20px;
  padding-top: 5rem;


  & h1 {
    font-size: 2.5rem;
    color: #fff;
  }

  .showingDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .cityName {
      font-size: 4rem;
      color: rgb(117, 43, 0);
    }

    & .temperatureNow {
      font-size: 8rem;
      color: #fff;
    }

    & .weatherDescription {
      font-size: 3rem;
      text-transform: capitalize;
      color: rgb(117, 43, 0);
    }

  }

  & .seachContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & input,
    & button {
      border: none;
      border-radius: 5px;
      height: 5rem;

      &:hover {
        cursor: pointer;
      }

    }

    & button {
      width: 15vw;
      background-color: rgb(0, 162, 255);
      color: #fff;
      font-size: 2rem;

      &:active {
        transform: translateY(5px);
      }

      &:hover {
        background-color: rgb(0, 132, 209);
      }
    }

    & input {
      font-size: 2rem;
      width: 40vw;

      &:focus {
        background-color: #eee;
        outline: none;
        transition: all 300ms ease-in-out;

        &::placeholder {
          font-size: 1rem;
          transform: translateY(-10px);

        }

      }
    }
  }
}
